# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# npm build and pack
/lib
*.tgz

# example vault
examples/.obsidian/plugins/*
examples/.obsidian/*.json
!examples/.obsidian/community-plugins.json

# required plugin for demo
!examples/.obsidian/plugins/obsidian-derammo-knowntags/

# downloaded images
examples/DALL-E/*.png