img + span.cm-inline-code > span.derammo-description-helper-auto-dim {
    color: var(--text-faint);
}

img + span.cm-inline-code > span.derammo-description-helper-auto-hide {
    display: none;
}

span.cm-formatting-link-string + span.derammo-description-helper-auto-hide {
    display: none;
}

img + span.derammo-description-helper.derammo-description-helper-auto-hide {
    display: inline-flex;
}
